@use '../../variables.scss' as *;

.pageBackground {
    background: $color-base-page-color;
    min-height: 100vh;
    position: relative
}

.pageForeground{
    background: $color-base-gray;
    height: 90vh;
    aspect-ratio: 4 / 2.5;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}